*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    width: 200px;
    height: 200px;
    border: 20px solid red ;
    padding: 30px ;
    margin: 40px;
   
}
/* padding : Top Right Bottom Left */
/* padding : Top&Bottom Left&Right */
/* padding : top left&Right Bottom */
